<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Fantasy Basketball Tool</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <% if logged_in? %>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-item nav-link <%= "active" if params[:controller] === "users" %>" href="<%= user_path(current_user)%>">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-item nav-link <%= "active" if params[:controller] === "teams" %>" href="<%= teams_path %>">Teams</a>
        </li>
        <li class="nav-item">
          <a class="nav-item nav-link <%= "active" if params[:controller] === "seasons" %>" href="<%= seasons_path %>">Seasons</a>
        </li>
        <li class="nav-item">
          <a class="nav-item nav-link <%= "active" if params[:controller] === "players" %>" href="<%= season_players_path(current_season) %>">Players</a>
        </li>
      </ul>
      <ul class="navbar-nav navbar-right">
        <a class="nav-item nav-link" href="<%= logout_path %>">Log Out</a>
      </ul>
    <% else %>
      <ul class="navbar-nav mr-auto">
      </ul>
      <ul class="navbar-nav navbar-right">
        <li class="nav-item">
          <a class="nav-item nav-link" href="<%= login_path %>">Log In <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-item nav-link" href="<%= new_user_path %>">Sign Up</a>
        </li>
      </ul>
    <% end %>
  </div>
</nav>