<div class="container">
    <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>

    <div class="table-responsive">
        <table class="table table-hover">
            <caption>NBA Players</caption>
            <thead class="thead-dark">
                <tr>
                    <th>Name</th>
                    <th>FG%</th>
                    <th>FT%</th>
                    <th>3PM</th>
                    <th>PTS</th>
                    <th>REBS</th>
                    <th>ASTS</th>
                    <th>STLS</th>
                    <th>BLKS</th>
                    <th>TOS</th>
                    <th>Graph</th>
                    <th>Projection</th>
                    
                </tr>
            </thead>
            <tbody>
                <% @players.each do |player| %>
                    <tr>
                        <td><%= player.to_s %></td>
                        <% if player.correct_player_season(@season) %>
                            <td><%= player.correct_player_season(@season).field_goal_percentage %></td>
                            <td><%= player.correct_player_season(@season).free_throw_percentage %></td>
                            <td><%= player.correct_player_season(@season).three_point_per_game %></td>
                            <td><%= player.correct_player_season(@season).points_per_game %></td>
                            <td><%= player.correct_player_season(@season).rebounds_per_game %></td>
                            <td><%= player.correct_player_season(@season).assists_per_game %></td>
                            <td><%= player.correct_player_season(@season).steals_per_game %></td>
                            <td><%= player.correct_player_season(@season).blocks_per_game %></td>
                            <td><%= player.correct_player_season(@season).turnovers_per_game %></td>
                            <td>
                                <%= form_for [@season, player] do |f| %>
                                    <%= f.check_box :graph, :class => "toggle", :checked => (true if player.graph?) %>
                                    <%= f.submit %>
                                <% end %>
                            </td>
                            <td>
                                <% if player.graph? %>
                                    <% if player.has_projection(current_user, @season) %>
                                        <%= form_for [@season, player] do |f| %>
                                            <%= f.check_box :projection, :class => "toggle", :checked => (true if player.projection?) %>
                                            <%= f.submit %>
                                        <% end %>
                                    <% else %>
                                        <%# LINK TO /players/:player_id/projections/new %>
                                        <%= link_to "Create Projection", new_season_player_player_season_projection_path(@season.id, player.id) %>
                                    <% end %>
                                <% end %>
                            </td>
                        <% else %>
                            <td>N/A</td>
                            <td>N/A</td>
                            <td>N/A</td>
                            <td>N/A</td>
                            <td>N/A</td>
                            <td>N/A</td>
                            <td>N/A</td>
                            <td>N/A</td>
                            <td>N/A</td>
                            <td>N/A</td>
                            <td>N/A</td>
                        <% end %>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>


<!-- Graph -->
<script>
    var json = JSON.parse(gon.final_graph)

    var player_data = new Array(json.players.length)

    for (var i = 0; i < json.players.length; i++)
    {
        color_value_1 = (Math.floor(Math.random() * (255 - 0 + 1)) + 0);
        color_value_2 = (Math.floor(Math.random() * (255 - 0 + 1)) + 0);
        color_value_3 = (Math.floor(Math.random() * (255 - 0 + 1)) + 0);

        player_data[i] = {
        label: json.players[i].name,
        data: [
            json.players[i].fieldGoalPercentage, 
            json.players[i].freeThrowPercentage, 
            json.players[i].threePointPerGame, 
            json.players[i].pointsPerGame, 
            json.players[i].reboundsPerGame, 
            json.players[i].assistsPerGame, 
            json.players[i].stealsPerGame, 
            json.players[i].blocksPerGame, 
            json.players[i].turnoversPerGame
        ],
        lineTension: 0,
        backgroundColor: 'rgba(' + color_value_1 + ', ' + color_value_2 + ', ' + color_value_3 + ', 0.3)',
        borderColor: 'rgba(' + color_value_1 + ', ' + color_value_2 + ', ' + color_value_3 + ')',
        borderWidth: 4,
        pointBackgroundColor: 'rgba(' + color_value_1 + ', ' + color_value_2 + ', ' + color_value_3 + ')',
        pointBorderColor: '#ffffff'
        }
    }

    var ctx = document.getElementById("myChart");
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
        labels: ["FG%", "FT%", "3PTM", "PTS", "REBS", "ASTS", "STLS", "BLKS", "TOS"],
        datasets: player_data
        },
        options: {
        scales: {
            yAxes: [{
                ticks: {
                    min: 0,
                    max: 40
                }
            }]
        }
        }
    });
</script>