<!DOCTYPE html>
<html>
  <head>
    <title>FantasyBasketballApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= include_gon %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Exo+2:800" rel="stylesheet">
    <script id="chart-script" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
  </head>

  <body>
    <%= render partial: 'shared/navbar' %>
    <%= yield %>

    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace()
    </script>
  </body>
</html>
